{{> admin/head}}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admin/nav}}

    
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">-</li>
      </ol>

      <div class="row">
        <div class="col-12 p-4">

        {{{body}}}
              
        </div>
      </div>
    </div>


    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    


    
    <!-- Logout Modal-->
      {{> admin/logout-modal }}

    {{!-- Footer --}}
    {{> admin/footer}}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

   
  </div>
</body>

</html>
