{{> home/header}}

   {{!-- Nav --}}
      {{> home/nav }}
   {{!--  --}}



  <!-- Page Content -->
  <div style="min-height: 600px">
      
  {{!-- Dynamic content --}}
        {{{body}}}
  {{!--  --}}
    
  </div>
  <!-- /.container -->



    
  {{!-- Footer --}}
      {{> home/footer }}
  {{!--  --}}

   

  </body>

</html>
