<form action="/admin/contact/create" method="post">
    <div class="form-group">
        <label for="" class="control-label">Subject</label>
        <input type="text" name="subject" class="form-control" placeholder="Subject" required autofocus >
    </div>

    <div class="form-group">
        <label for="" class="control-label">Message</label>
        <textarea name="message" id="" cols="5" rows="6" class="form-control" placeholder="Message Here" required></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Contact Now</button>
    </div>
</form>