{{> home/header}}
<body>


<div class="container mt-5">

<!-- LOGIN INTERFACE -->
    <div class="col-md-5 mx-auto mt-5 login_interface">
        <p class="lead text-center">
        Sign in to your account
        <img src="img/gps_bg.jpg" width="50" class="text-center img-responsive" alt="">
        </p>


        <form method="post" action="" id="login-form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="Email" name="email" type="email" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text foot-link"><span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="*******" name="pass" type="password" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text foot-link"><span class="fa fa-key"></span>
                    </div>
                </div>
                <a href="javascript:void(0)" class="link" id="forgot_activator">Forget your password?</a>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-4">
                        <button type="submit" class="btn btn-primary btn-block " id="signin_btn"> <i class="fa fa-user"></i> Sign in </button>

                    </div>

                    <div class="col-md-6 col-sm-6 col-8">
                        <div class="g-signin2" data-width="192" data-height="37" data-longtitle="true" data-onsuccess="onSignIn"></div>
                    </div>
                </div>
                 <a href="javacript:void(0)" class="link" id="register_activator">New here? Sign up</a>
            </div>

        </form>
    </div>
<!-- /LOGIN INTERFACE -->




<!-- REGISTER INTERFACE -->

<div class="col-md-5 mx-auto mt-5 register_interface">
        <p class="lead text-center">
            Sign up with PickRide
            <img src="img/gps_bg.jpg" width="50" class="text-center img-responsive" alt="">
        </p>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="Email" name="email" type="email" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text foot-link"><span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>


                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="+234..." name="phone" type="text" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text foot-link"><span class="fa fa-phone"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="*******" name="pass" type="password" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text foot-link"><span class="fa fa-key"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-4">
                            <button type="submit" class="btn btn-primary btn-block " id="register_btn"> <i class="fa fa-plus"></i> Sign up</button>

                        </div>

                        <div class="col-md-6 col-sm-6 col-8">
                            <div class="g-signin2" data-width="192" data-height="37" data-longtitle="true" data-onsuccess="onSignIn"></div>
                        </div>
                    </div>
                    <a href="javacript:void(0)" class="link login_activator" >Already own an account? Sign in</a>

                </div>
        </form>
    </div>

<!-- /REGISTER INTERFACE -->



<!-- FORGOT PASSWORD INTERFACE -->
<div class="col-md-5 mx-auto mt-5 forgot_interface">
        <p class="lead text-center">
        Enter Email 
        <img src="img/gps_bg.jpg" width="50" class="text-center img-responsive" alt="">
        </p>


        <form method="post" action="" id="login-form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="Email" name="email" type="email" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text foot-link"><span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>

          

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="forgot_btn"><i class="fa fa-envelope"></i> Submit Request</button>
                <a href="javacript:void(0)" class="link login_activator">Remembered Details? Sign in</a>
            </div>
        </form>
    </div>

<!-- /FORGOT PASSWORD INTERFACE -->
</div>



</body>










<!-- FOOTER -->
<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>			
<script src="js/easing.min.js"></script>			
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>	
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>	
<script src="js/jquery.nice-select.min.js"></script>							
<script src="js/mail-script.js"></script>	
<script src="js/main.js"></script>	
<script src="js/custom.js"></script>

<script src="js/bootstrap-timepicker.min.js"></script>	
<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.js"></script>	
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="js/login.js"></script>	

</html>

