<footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © NodeCMS 2020</small>
        </div>
      </div>
    </footer>
     <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/sweetalert.min.js"></script>

