 <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/user">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>


          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile">
          <a class="nav-link" href="/user/profile">
          <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Profile</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookings">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#booking" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-taxi"></i>
            <span class="nav-link-text">Booking</span>
          </a>
          <ul class="sidenav-second-level collapse" id="booking">
            <li>
              <a href="/user/booking">All Bookings</a>
            </li>

            <li>
              <a href="/user/booking/cancelled">All Cancelled</a>
            </li>

            <li>
              <a href="/user/booking/create">Create Booking</a>
            </li>

          </ul>
        </li>



      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Contact">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#contact" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-address-book"></i>
            <span class="nav-link-text">Contact</span>
          </a>
          <ul class="sidenav-second-level collapse" id="contact">
            <li>
              <a href="/user/contact/">All Contacts</a>
            </li>

              <li>
              <a href="/user/contact/create">Create Contact</a>
            </li>

          </ul>
        </li>


     
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Testimony">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#testimony" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-address-book-o"></i>
            <span class="nav-link-text">Testimony</span>
          </a>
          <ul class="sidenav-second-level collapse" id="testimony">
            
              <li>
                <a href="/user/testimonies/">All Testimony</a>
              </li>

              <li>
              <a href="/user/testimonies/create">Create Testimony</a>
            </li>
          </ul>
        </li>
     
       

         

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="User">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#user" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">{{#if loggedUser}} {{loggedUser.fullname}} {{/if}}</span>
          </a>
          <ul class="sidenav-second-level collapse" id="user">
            <li>
              <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>

              <li>
              <a href="/"><i class="fa fa-fw fa-link"></i>Home Website</a>
            </li>

          </ul>
        </li>


      </ul>