 



 <header id="header">
		  		<div class="header-top">
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
			    		<h2 class="text-white">NodeTaxify</h2>	
						<nav id="nav-menu-container">
							<ul class="nav-menu">
							  <li class="menu-active"><a href="/">Home</a></li>
							  <li><a href="/about">About</a></li>
							  <li><a href="/services">Services</a></li>
							  <li><a href="/gallery">Gallery</a></li>
							  <li><a href="/contact">Contact</a></li>
							  </li>						  			          	          
							  <li><a href="/blogs">Blog</a></li>

							{{#if loggedUser}}
               				 <li class="menu-has-children"><a href="#"><i class="fa fa-user "></i> User</a>
							    <ul>
							      <li><a href="#"><i class="fa fa-dashboard "></i> Dashboard</a></li>
							      <li><a href="#"><i class="fa fa-sign-out "></i> Logout</a></li>
							      <li class="menu-has-children"><a href="#"> <i class="fa fa-link "></i> Contributions</a>
							        <ul>
							          <li><a href="#"><i class="fa fa-file "></i> Blog posts</a></li>
							          <li><a href="#"><i class="fa fa-taxi "></i> Bookings</a></li>
							        </ul>
							      </li>					              
							    </ul>
							  </li>

							  {{else}}
								  <li><a href="/logs/sign"><i class="fa fa-sign-in"></i> Sign in</a></li>
							  {{/if}}



							</ul>
						</nav><!-- #nav-menu-container -->		
			    	</div>
			    </div>
			  </header><!-- #header -->