<!-- Start reviews Area -->
			<section class="reviews-area section-gap">
				<div class="container">
					<div class="row section-title">
						<h1>Client’s Testimonies</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>					
					<div class="row">
					 {{#if testimonies}}	
						{{#each testimonies}}
						<div class="col-lg-4 col-md-6">
							<div class="single-review">
								<h4>{{user.fullname}} </h4>
								<p>
									{{content}}
								</p>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						{{/each}}
					{{else}}
					<div class="alert alert-success text-center">No Reviews to display</div>
					{{/if}}	
																																					
					</div>
				</div>	
			</section>
			<!-- End reviews Area -->