	<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-between">
						<div class="banner-content col-lg-6 col-md-6 ">
							<h6 class="text-white ">Need a ride? just call</h6>
							<h1 class="text-uppercase">
								(234) 814 320 0267			
							</h1>
							<p class="pt-10 pb-10 text-white">
								Whether you enjoy city breaks or extended holidays in the sun, you can always improve your travel experiences by staying in a small.
							</p>
							<a href="#" class="primary-btn text-uppercase">Call for taxi</a>
						</div>
						<div class="col-lg-4  col-md-6 header-right">
							<h4 class="pb-30">Book Your Taxi Online!</h4>
							<form class="form" method="post" id="distance_form">

								 <div class="form-group">
									   <select id="from_place" required class="selectpicker select show-tick" data-width="100%" data-live-search="true" title="From Destination" data-size="4" data-header="From Destination" name="from_place">
                                            <option>Elelenwo,Port Harcourt</option>
                                            <option>Market Junction,Port Harcourt</option>
                                            <option>Artilary,Port Harcourt</option>
                                            <option>Woji,Port Harcourt</option>
                                            <option>Mile one,Port Harcourt</option>
                                            <option>Choba,Port Harcourt</option>
                                            <option>Trans Amadi,Port Harcourt</option>
										</select>
								</div>


								<div class="form-group">
									   <select id="to_place" required class="selectpicker select show-tick" data-width="100%" data-live-search="true" title="To Destination" data-size="4" data-icon="fa fa-heart"  data-header="To Destination" name="to_place">
                                            <option>Elelenwo,Port Harcourt</option>
                                            <option>Market Junction,Port Harcourt</option>
                                            <option>Artilary,Port Harcourt</option>
                                            <option>Woji,Port Harcourt</option>
                                            <option>Mile one,Port Harcourt</option>
                                            <option>Choba,Port Harcourt</option>
                                            <option>Trans Amadi,Port Harcourt</option>
										</select>
							    </div> 
					    
							    <div class="form-group">
									<div class="input-group dates-wrap">                                              
										<input id="datepicker2" required class="dates form-control"  placeholder="Date" type="text" name="dates">                        
										<div class="input-group-prepend">
											<span  class="input-group-text"><span class="fa fa-calendar"></span></span>
										</div>											
									</div>
								</div>	
								
								<div class="form-group">
									<div class="input-group bootstrap-timepicker timepicker input-small">
							    	<input class="form-control" id="timepicker1" data-provide="timepicker" required type="text" name="time" placeholder="Time"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Time'" name="time">
							    	<div class="input-group-prepend">
									  <span  class="input-group-addon input-group-text"><span class="fa fa-clock-o"></span></span>
								</div>
								</div>	
								</div>
								
								 <!-- Default inline 1-->
								 <div class="custom-control custom-checkbox custom-control-inline basic">
									<input type="checkbox"  class="custom-control-input"  value="basic" id="defaultInline1" >
									<label class="custom-control-label musicLab" for="defaultInline1">Basic</label>
								</div>

								<!-- Default inline 2-->
								<div class="custom-control custom-checkbox custom-control-inline deluxe">
									<input type="checkbox" class="custom-control-input"  value="deluxe" id="defaultInline2" >
									<label class="custom-control-label busLab" for="defaultInline2">Deluxe</label>
								</div>

								<!-- Default inline 3-->
								<div class="custom-control custom-checkbox custom-control-inline classic">
									<input type="checkbox" class="custom-control-input checked" value="classic" id="defaultInline3" >
									<label class="custom-control-label perLab" for="defaultInline3">Classic</label>
								</div>

								 <!-- This paragraph holdes the sentence telling a user the plan he chose(It has nothing inside it but collects data through javscript)-->
								 <p class="accSentence"></p>
									<!--  -->

									<!-- THIS INPUT COLLECTS THE PLSN TYPE SELECTED -->
									<input type="hidden" value="" name="plan" id="plan" class="type">
									<!--  -->

								

							    <div class="form-group">
								<button class="btn btn-default btn-lg btn-block text-center text-uppercase" type="submit" >Book Now
								</button>
							    </div>
							</form>

                            <div class="loading">
                                <img src="/img/loading.gif">
                            </div>

                            <div id="booking_details">
                                
                                    <p class="lead">Taxi Booking Details on Desk</p>
                                    <table class="table table-striped">
                                    
                                        <tr>
                                            <th>From:</th>
                                            <td id="booking_from"></td>
                                        </tr>


                                        <tr>
                                            <th>To:</th>
                                            <td id="booking_to"></td>
                                        </tr>

                                         <tr>
                                            <th>Plan:</th>
                                            <td id="booking_plan"></td>
                                        </tr>

                                        <tr>
                                            <th>Date/Time:</th>
                                            <td id="booking_time"></td>
                                        </tr>
                                    </table>


                                    <div class="paypal_payment">
                                        <p class="lead">Payment Section | PayPal</p>

                                        <div class="paypal">
                                           Paypal Stuffs ------|

                                        </div>
                                    </div>
                                 
                            </div>

                               
                            </div>

						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->